dn: ou=People,{{ ansible_ldapauth_rootdn }}
objectClass: top
objectClass: organizationalUnit
ou: People

dn: ou=Groups,{{ ansible_ldapauth_rootdn }}
objectClass: top
objectClass: organizationalUnit
ou: Groups
