#Load the syncprov module.
dn: cn=module{0},cn=config
changetype: modify
add: olcModuleLoad
olcModuleLoad: syncprov

# syncrepl specific indices
dn: olcDatabase={1}mdb,cn=config
changetype: modify
add: olcDbIndex
olcDbIndex: entryUUID eq
-
add: olcSyncRepl
olcSyncRepl: rid=0 provider=ldap://{{ ansible_ldapauth_master }} bindmethod=simple binddn="cn=admin,{{ ansible_ldapauth_rootdn }}"
  credentials={{ ansible_ldapauth_password }} searchbase="{{ ansible_ldapauth_rootdn }}" logbase="cn=accesslog"
  logfilter="(&(objectClass=auditWriteObject)(reqResult=0))" schemachecking=on
  type=refreshAndPersist retry="60 +" syncdata=accesslog
-
add: olcUpdateRef
olcUpdateRef: ldap://{{ ansible_ldapauth_master }}

