dn: cn=module,cn=config
cn: module
objectClass: olcModuleList
olcModuleLoad: ppolicy

dn: olcOverlay={0}ppolicy,olcDatabase={1}mdb,cn=config
objectClass: olcOverlayConfig
objectClass: olcPpolicyConfig
olcOverlay: {0}ppolicy
olcPPolicyDefault: cn=ppolicy-default,ou=PPolicy,{{ansible_ldapauth_rootdn }}
olcPPolicyUseLockout: FALSE
olcPPolicyHashCleartext: TRUE
